/*Adaptive*/

/* for 1280px */
@media only screen and (max-width: 1083px) {
    .blocks {
        max-width: 900px;
    }
}

/* for 1024px */
@media only screen and(max-width: 1030px) {
    .blocks {
        max-width: 850px;
    }
}

/* for 912px */
@media (max-width: 920px) {

    /* first block*/
    .blocks {
        max-width: 800px;
    }


}

/* for 320 px */
@media(max-width: 420px) {
    .blocks {
        max-width: 300px;
    }



}